repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        name: ruff lint
        args: ["."]
      - id: ruff-format
        name: ruff format
        args: ["."]
